<div class="question1 question Computer">
    <p>1. What does CPU stand for?</p>
    <div class="option_q1 options">
        <label><input type="radio" name="Q1" value="Central Processing Unit"> Central Processing Unit</label>
        <label><input type="radio" name="Q1" value="Computer Programming Unit"> Computer Programming Unit</label>
        <label><input type="radio" name="Q1" value="Central Peripheral Unit"> Central Peripheral Unit</label>
        <label><input type="radio" name="Q1" value="Computer Processing Unit"> Computer Processing Unit</label>
    </div>
</div>

<div class="question2 question Computer">
    <p>2. What is the main function of an operating system?</p>
    <div class="option_q2 options">
        <label><input type="radio" name="Q2" value="Manage hardware and software resources"> Manage hardware and software resources</label>
        <label><input type="radio" name="Q2" value="Run applications"> Run applications</label>
        <label><input type="radio" name="Q2" value="Connect to the internet"> Connect to the internet</label>
        <label><input type="radio" name="Q2" value="Provide security"> Provide security</label>
    </div>
</div>

<div class="question3 question Computer">
    <p>3. Which of the following is a programming language?</p>
    <div class="option_q3 options">
        <label><input type="radio" name="Q3" value="Python"> Python</label>
        <label><input type="radio" name="Q3" value="HTML"> HTML</label>
        <label><input type="radio" name="Q3" value="CSS"> CSS</label>
        <label><input type="radio" name="Q3" value="SQL"> SQL</label>
    </div>
</div>

<div class="question4 question Computer">
    <p>4. What does HTML stand for?</p>
    <div class="option_q4 options">
        <label><input type="radio" name="Q4" value="HyperText Markup Language"> HyperText Markup Language</label>
        <label><input type="radio" name="Q4" value="HighText Machine Language"> HighText Machine Language</label>
        <label><input type="radio" name="Q4" value="HyperText Modeling Language"> HyperText Modeling Language</label>
        <label><input type="radio" name="Q4" value="HighText Markup Language"> HighText Markup Language</label>
    </div>
</div>

<div class="question5 question Computer">
    <p>5. What is an IP address used for?</p>
    <div class="option_q5 options">
        <label><input type="radio" name="Q5" value="Identify devices on a network"> Identify devices on a network</label>
        <label><input type="radio" name="Q5" value="Encrypt data"> Encrypt data</label>
        <label><input type="radio" name="Q5" value="Transfer files"> Transfer files</label>
        <label><input type="radio" name="Q5" value="Process transactions"> Process transactions</label>
    </div>
</div>

<div class="question6 question Computer">
    <p>6. Which of the following is not an operating system?</p>
    <div class="option_q6 options">
        <label><input type="radio" name="Q6" value="Google Chrome"> Google Chrome</label>
        <label><input type="radio" name="Q6" value="Windows"> Windows</label>
        <label><input type="radio" name="Q6" value="MacOS"> MacOS</label>
        <label><input type="radio" name="Q6" value="Linux"> Linux</label>
    </div>
</div>

<div class="question7 question Computer">
    <p>7. What does the acronym URL stand for?</p>
    <div class="option_q7 options">
        <label><input type="radio" name="Q7" value="Uniform Resource Locator"> Uniform Resource Locator</label>
        <label><input type="radio" name="Q7" value="Universal Resource Locator"> Universal Resource Locator</label>
        <label><input type="radio" name="Q7" value="Uniform Resource Link"> Uniform Resource Link</label>
        <label><input type="radio" name="Q7" value="Universal Resource Link"> Universal Resource Link</label>
    </div>
</div>

<div class="question8 question Computer">
    <p>8. Which protocol is commonly used for secure data transmission over the internet?</p>
    <div class="option_q8 options">
        <label><input type="radio" name="Q8" value="HTTPS"> HTTPS</label>
        <label><input type="radio" name="Q8" value="HTTP"> HTTP</label>
        <label><input type="radio" name="Q8" value="FTP"> FTP</label>
        <label><input type="radio" name="Q8" value="SMTP"> SMTP</label>
    </div>
</div>

<div class="question9 question Computer">
    <p>9. Which of the following is a cloud storage service?</p>
    <div class="option_q9 options">
        <label><input type="radio" name="Q9" value="Google Drive"> Google Drive</label>
        <label><input type="radio" name="Q9" value="Windows"> Windows</label>
        <label><input type="radio" name="Q9" value="Chrome"> Chrome</label>
        <label><input type="radio" name="Q9" value="Ubuntu"> Ubuntu</label>
    </div>
</div>

<div class="question10 question Computer">
    <p>10. Which component of a computer is responsible for executing instructions?</p>
    <div class="option_q10 options">
        <label><input type="radio" name="Q10" value="CPU"> CPU</label>
        <label><input type="radio" name="Q10" value="RAM"> RAM</label>
        <label><input type="radio" name="Q10" value="Hard Drive"> Hard Drive</label>
        <label><input type="radio" name="Q10" value="GPU"> GPU</label>
    </div>
</div>
